.tincov{
	display: flex;
	width: 992px;
	border-radius: 4px;
	border: 1px solid #EAEAEA;
	
}

.imgsvglogo{
	width: 45px;
	height: 45px;
	margin-left:15px;
	padding-top: 10px;
}

.open{
	margin-left: 20px;
}
.open__offers{
	font-size: 18px;
	color: #388ec3;
}

.open__name{
	
	font-size: 12px;

}

.data{
	font-size: 18px;
	text-align: center;
	margin-left: 150px;
	margin-right: 140px;
	color: #388ec3;

}

.data__offers{
	font-size: 12px;
	color: #000;
}

.btntincov{
	width: 150px;
	height: 35px;
	background-color: #95ce5a;
    color: #fff;
    border-color: #95ce5a;
    box-shadow: 0 7px 10px rgba(149,206,90,.4);
    text-align: center;
    border-radius: 3px;
    margin-top: 15px;
    margin-right: 20px;
    padding-top: 10px;
    text-decoration: none;



}
