
.bg_slide{
	background-image: url(../img/bg/bg_sl.jpg);
	width: 100%;
	//height:80vh;
	background-repeat: no-repeat;
	background-size: cover;

	
}
.fa-arrow-alt-circle-left{
	position: relative;
	color: #fff;
	top: -180px;
	font-size: 40px;
	@media (min-width: 800px) {
		top: -120px
	}
	@media (min-width: 1316px) {
		top: 50px;
		font-size: 50px;
	}
}

.fa-arrow-alt-circle-right{
	float: right;
	position: relative;
	color: #fff;
	font-size: 40px;
	top: -180px;
	@media (min-width: 800px) {
		top: -120px
	}
	@media (min-width: 1316px) {
		top: 50px;		
		font-size: 50px;
			
	}

}
.content_slide{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: -200px;
	@media (min-width: 535px) {
		margin-top: -150px;
	}
	@media (min-width:1000px ){
		width: 1000px;

		}
}
		


.text_item{
	position: relative;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	color: #fff;
	top: -150px;
	@media (min-width: 400px) {
		font-size: 30px;
		
	}

	@media (min-width: 570px) {
		font-size: 40px;
		top: -100px;
	}
	@media (min-width: 875px) {
	font-size: 60px;
	top: -80px;

	}
	@media (min-width: 1316px) {
	
	top: 10px;

	}

}



.item_one{
	display: none;
	
}
.item_one.active{
	margin-right: auto;
	margin-left: auto;
	background-image:url(../img/carusel/slide1.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	display: block;
	padding-top: 460px;
	margin-top: 50px;
	@media (min-width: 670px) {
		margin-top: 0px;
	}

		@media (min-width: 1316px) {
		
		padding-top: 420px;
		width: 1180px;
		height: 700px;
		
	}

}

.item_two{
	
	display: none;
	
}
.item_two.active{

	margin-right: auto;
	margin-left: auto;
	background-image:url(../img/carusel/slide2.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	display: block;
	padding-top: 460px;
	margin-top: 50px;
	@media (min-width: 670px) {
		margin-top: 0px;
	}

		@media (min-width: 1316px) {
		padding-top: 420px;
		width: 1180px;
		height: 700px;
	
	}
	
}



.item_three{
	
	display: none;
}

.item_three.active{
margin-right: auto;
	margin-left: auto;
	background-image:url(../img/carusel/slide3.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	display: block;
	padding-top: 460px;
	margin-top: 50px;
	@media (min-width: 670px) {
		margin-top: 0px;
	}

		@media (min-width: 1316px) {
		
		padding-top: 420px;
		width: 1180px;
		height: 700px;
		
	}

}

	


.slid{
	margin-top: 80px;
	position: relative;
}

.text_button{
	position: absolute;
	margin-top: -40px;
	margin-left: -20px;

}

.slider_icon{
	color: rgba(255,255,2, 0.2);
	text-align: center;
	letter-spacing: 30px;
	margin-top: -175px;
	font-size: 25px;
	padding-left: 20px;
	@media (min-width: 400px){
	letter-spacing: 25px;
	margin-top: -95px;
	font-size: 40px;
	padding-left: 80px;
	}
	@media (min-width: 535px){
		margin-top: -60px;
		padding-left: 70px;
	}
	@media (min-width: 650px) {
	letter-spacing: 40px;
	margin-top: -15px;
	font-size: 70px;
	}
	@media (min-width: 910px) {
	padding-left: 110px;
	font-size: 100px;
	letter-spacing: 80px;
	}
}

.sliger_icon-text{
	color: rgba(255,255,2, 0.2);
	text-align: center;
	font-size: 12px;
	letter-spacing: 3px;
	word-spacing: 45px;
	margin-left: 41px;
	@media (min-width: 400px){
	margin-left: 25px;
	font-size: 15px;
	letter-spacing: 3px;
	word-spacing: 45px;
	}
	@media (min-width: 535px){
		word-spacing: 50px;
	}
	
	@media (min-width: 650px){
	margin-left: 0;
	font-size: 20px;
	letter-spacing: 6px;
	word-spacing: 85px;
	}

	@media (min-width: 910px) {
	font-size: 30px;
	margin-top: -20px;
	letter-spacing: 10px;
	word-spacing: 160px;
	padding-left: 30px;
	padding-bottom: 25px;
	}
	@media (min-width: 1316px) {
		padding-left: 65px;
	}

}