body {
  width: 1920px;
  margin-right: auto;
  margin-left: auto;
}
.my-container {
  width: 1650px;
  margin-left: 270px;
}
.slick-arrow {
  display: none!important;
}
.activ {
  color: #9fd75d;
  text-decoration: underline;
}
.mynav {
  width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 94px;
  padding-right: 94px;
}
.my-nav-addres {
  padding-top: 5px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
}
.mynav-work-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mynav-work-time p {
  margin-right: 15px;
}
.my-nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.my-nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  position: relative;
  right: 53px;
}
.my-nav-ul > li {
  widows: 85px;
  margin-right: 27px;
  margin-left: 27px;
}
.my-nav-call {
  line-height: 5px;
  letter-spacing: 1px;
}
.my-nav-call-back {
  text-decoration: underline;
  padding-left: 35px;
  font-size: 10px;
}
.fa-vk,
.fa-instagram {
  font-size: 18px;
  margin-right: 25px;
}
.lang-flag {
  width: 15px;
  height: 20px;
  margin-right: 5px;
  margin-left: 5px;
}
.transdropdownMenu {
  margin-right: 5px;
  margin-left: 5px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.my-nav-addres-lang {
  margin-left: 10px;
}
.my-nav-addres-lang a {
  text-decoration: none;
}
.dropdown a {
  text-decoration: none;
}
hr {
  position: relative;
  width: 1400px;
  right: 100px;
}
.home-cont-left {
  width: 40%;
  margin-left: 85px;
  margin-top: 90px;
}
.home-cont-left-text-item {
  font-weight: bold;
  letter-spacing: 1.2px;
  font-size: 40px;
  line-height: 47px;
}
.home-cont-left-text-item span {
  color: #77b231;
}
.home-cont-left-text-item-two {
  letter-spacing: 0.7px;
  width: 385px;
}
.home-cont-rigth {
  width: 60%;
}
.home-cont-left-form {
  width: 520px;
  height: 455px;
  margin-top: 40px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 6px 10px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 10px -2px rgba(0, 0, 0, 0.75);
}
.home-cont-left-form h5 {
  font-size: 19px;
  padding-top: 18px;
}
.home-cont-left-form-setting {
  position: relative;
  margin-left: 20px;
  top: 16px;
  font-size: 15px;
}
.home-cont-left-form-setting a {
  margin-left: 20px;
}
.home-cont-left-form-input {
  margin-left: 25px;
  width: 230px;
}
.home-cont-left-form-input input {
  width: 220px;
  height: 40px;
  border: 1px solid #ced4da;
  border-radius: 3px;
  margin-top: 15px;
  padding: 0.375rem 0.75rem;
}
.home-cont-left-form-input-item {
  margin-left: 15px;
}
.home-cont-left-form-input-item input {
  width: 220px;
  height: 40px;
  border: 1px solid #ced4da;
  border-radius: 3px;
  margin-top: 15px;
  padding: 0.375rem 0.75rem;
}
.home-cont-left-form-textarea {
  width: 460px;
  height: 80px;
  border: solid 1px;
  margin-left: 25px;
  margin-top: 10px;
  border-radius: 3px;
  padding: 0.375rem 0.75rem;
  border: 1px solid #ced4da;
}
.my-form-group {
  margin-top: 15px;
  margin-bottom: 0px;
}
.home-cont-left-form-btnall a {
  line-height: 35px;
  font-size: 15px;
  margin-left: calc(50% - 68px);
}
.home-cont-left-form-btn {
  border: none;
  border-radius: 3px;
  width: 460px;
  height: 45px;
  color: #fff;
  background: #9fd75d;
  margin-top: 15px;
  margin-left: 30px;
  letter-spacing: 1.1px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.home-cont-left-form-btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 6px 10px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 10px -2px rgba(0, 0, 0, 0.75);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/*# sourceMappingURL=maps/main.css.map */
