

.brand{
	background-color: @dark;
	left: 0;
	position: fixed;
	z-index: 99;
	font-family: 'Pacifico', cursive;
	color: @mint;
	a{
		color: @mint;
	}
	span{
		font-size: 20px;
		@media (min-width: 576px) {
			font-size: 40px;
		}

		@media (max-height: 500px) {
		font-size: 20px;
	}

	}
	&:hover{
		color: #fff;
	}
	
}

.bg-brand{
	padding: 0;
	height:86px;
	background: url(../img/svg/bg.svg);
	background-size: cover;
	
	position: fixed;
	z-index: 98;
	@media (min-width: 576px) {
		height:116px;
	}
	@media (max-height: 500px) {
		height: 86px;
	}
}




.addres{
	
	display: none;
	@media (min-width: 425px) {
		display: block;
	color: @mint;
	text-decoration: none!important;
	font-family: bravo;
	font-size: 12px;
	letter-spacing: 1.5px;
	}
	&:hover{
		color: #fff;
	}
	@media (min-width: 630px) {
			font-size: 18px;
		}

	@media (max-height: 500px) {
			font-size: 12px;
		}	
	
}
.container-fluid{
	padding: 0;
}
.nav__vertical{
	z-index: 96;
	text-align: center;
	transition: 1s;
	font-size: 40px;
	transform: translateX(0);
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	height: 100vh;
	background: url(../img/svg/bg.svg);
	background-size: cover;
	position: fixed;
	padding: 0;
	left: 0;
	@media (min-width:576px ) {
		text-align: left;
		padding-top: 120px;
		font-size: 15px;
		transform: translateX(0);
	}

	@media (min-width: 780px) {
		font-size: 20px;
	}

		a{
			color: @ligth;
			&:hover{
				background-color: @mint;
			}
		}

	@media (max-height: 425px) {
			padding-top: 45px;
		}	
	@media (max-height: 500px) {
			padding-top: 89px;
		}	
}





.active{
	background-color:@mint; ;
}

.nav__vertical--ul{
	padding-top: 85px;
	border-top: 3px solid @mint;
	border-bottom: 3px solid @mint;
	background-color: rgba(27,9,9,0.9);
	position: relative;
	top: -3px;
		li{
			max-width: 100%;
		}
		li:first-child{
			padding-left: 50vw;
		}
		li:nth-child(2){
			padding-top: @paddingtop;
		}
		li:last-child{
			padding-bottom:@paddingtop;
		}
		@media (min-width: 576px) {
			padding-top: 0;
		}
}



.navcontentbottom{
	padding-top:48vh;
	padding-bottom: 73px;
	background-color: rgba(27,9,9,0.9);
	position: relative;
	top: -3px;
}

.svgsocial{
	width: 30px;
}
.slider{
	margin-top: 86px;

	padding-left: 0;
	padding-right: 0;
	@media (min-width: 576px) {
		margin-top: 100px;
	}
	@media (max-height: 500px) {
		margin-top: 86px;
	}
}

.carousel-caption{
	h5{
		text-shadow: 0px 0px 8px #fff;
		font-size: 35px;
		color: @dark
	}
	p{
		color: @dark
	}
}

.content__text{
	padding-top: @paddingtop;
	background-color: @ligth;
	padding-bottom: @paddingbottom;
}

.content__img-padding{
	padding: 20px;

	
	
}

.content__product{
	background-color: @ligth;
	padding-top: @paddingtop;
	padding-bottom: @paddingbottom;
	h3{
		font-family: 'Oswald', sans-serif; 
		padding-bottom: 50px;
		font-size: 34px;
	}
}

.content__product--item{
	padding-top: 40px;
}


.contnt__product-animation{
	padding-top: 10px;
}

h4{
	font-family: 'Oswald', sans-serif; 
}

.contnt__product-animation a:before{
	content: 'узнать больше';
	line-height: 20px;
		position: absolute;
		font-family: 'Oswald', sans-serif; 
		background-color: transparent;
		color: transparent;
		width: 70px;
		
		border-radius: 16px;
		
		z-index: 9;

}


.contnt__product-animation a:hover::before {
		transition: 1s;
		background-color: rgba(130,195,191,0.8);
		color: #000;
		text-align: center;
		
		
		@media (min-width: 1140px) {
			transform: translate(130%,240%);
		}
	
}

.product__img{
	border-radius: 200px;

}



.contnt__product-animation a{
	
		&:hover{
			transition: 0.5s;
			transform: scale(1.1);
		}
}

.content_work{
	
	background: url(../img/bg/1.jpg);
	background-attachment: fixed;
	background-size: cover;

}
.content__product--padding{
	padding-top: @paddingtop;
	padding-bottom: @paddingbottom;
	color: #fff;
		h4{
			font-size: 34px;
		}
}



.content_work--bg{
	background-color: rgba(24,24,24,0.4);
}
.quote{
	background-color: @dark;
	
}

.svg{
	width: 70px;
	@media (min-width: 768px) {
		width: 150px;
	}

}

.content__product--text{
	padding-bottom: @paddingbottom;
	p{
		color: #fff;
		font-size: 14px;
		font-family: 'Oswald', sans-serif; 
		@media (min-width: 768px) {
			font-size: 24px;
		}
	}
}


//visibl


.visibl{
	display: block!important;
}


//

//tort



.tort{
	padding-top: 86px;
	display: none;
	@media (min-width: 576px) {
		padding-top: 116px;
	}
}

.name__order{
	padding-top: 40px;
	font-family: bravo;
	background-color: @ligth;
	h2{
		font-size: 60px;
	}
	
}

.card__all{
	background-color: @ligth;
	padding-left: 0;
	padding-right: 0;
}

.card__item{
	padding-top: 50px;
	padding-left: 0;
	padding-right: 0;
	h4{
		font-size: 40px;
	}
}

.card__img{
	padding: 40px;
	position: relative;
	overflow: hidden;
	padding-left: 0;
	padding-right: 0;
	
	
	
}	

.card__img-item1{
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	&:after{
		content: '«Пра́га» — шоколадный торт, широко известный в России со времён СССР.Состоит из трёх бисквитных коржей с двумя слоями крема «Пражский». Верхняя и боковые поверхности покрыты повидлом и заглазированы помадкой (либо боковые поверхности отделаны кремом и бисквитной крошкой). Сверху украшен рисунком из крема';
		position:absolute;
		width: 100%;
		height: 100%;
		transform: translateX(100%);
		background-color:rgba(251,230,230,0.6); ;
		transition: 1s;
		text-align: center;

	}


	img{
		width: 100%;
		box-shadow: 0px 0px 10px 2px @dark;	
	}
}

.card__img-item1:hover::after{
	transform: translateX(-100%);
}


.card__img-item2{
	.card__img-item1();
	&:after{
		content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia ea voluptates provident temporibus accusantium quidem magnam beatae soluta asperiores facere.'
	}
}

.card__img-item2:hover::after{
	transform: translateX(-100%);
}

.card__img-item3{
	.card__img-item1();
	&:after{
		content: 'Что делал слон когда пришел на поле он'
	}
}

.card__img-item3:hover::after{
	transform: translateX(-100%);
}

.card__img-item4{
	.card__img-item1();
	&:after{
		content: 'Что делал слон когда пришел на поле он'
	}
}

.card__img-item4:hover::after{
	transform: translateX(-100%);
}

.card__img-item4{
	.card__img-item1();
	&:after{
		content: 'Что делал слон когда пришел на поле он'
	}
}

.card__img-item4:hover::after{
	transform: translateX(-100%);
}

.card__img-item5{
	.card__img-item1();
	&:after{
		content: 'Что делал слон когда пришел на поле он'
	}
}

.card__img-item5:hover::after{
	transform: translateX(-100%);
}

.card__img-item6{
	.card__img-item1();
	&:after{
		content: 'Что делал слон когда пришел на поле он'
	}
}

.card__img-item6:hover::after{
	transform: translateX(-100%);
}

.card__img-item7{
	.card__img-item1();
	&:after{
		content: 'Что делал слон когда пришел на поле он'
	}
}

.card__img-item7:hover::after{
	transform: translateX(-100%);
}

.card__img-item8{
	.card__img-item1();
	&:after{
		content: 'Что делал слон когда пришел на поле он'
	}
}

.card__img-item8:hover::after{
	transform: translateX(-100%);
}


//cake
.cake{
	.tort
}


//pie
.pie{
	.tort
}

//map

.addre{
	padding-top: 116px;
}

.addre__name{
	background-color: @ligth;
	h3{
		font-size: 55px;
	}
	
}

.map{
	padding-top: 86px;
	@media (576px) {
		padding-top: 116px;
	}
}

.bg_cont--img{
	background: url(../img/bg/bgcont.jpg);
	background-size: cover;
	padding: 0;
}

.bg_cont--color{
	background-color: @dark;
	padding: 40px 0 40px 0;
	color: @mint;
	font-family: bravo;
	letter-spacing: 1.1px;
	line-height: 32px;
	
		a{
			color: @ligth;
			font-size: 60px;
			position: relative;
			top: 30px;
		}
}
.addre_item{
	line-height: 47px;
}


.addre_taxt{
	font-size: 30px;
}

.hr{
	width: 80%;
	color: @mint;
	background-color: @mint;;
	height: 2px;
}

.mb-0{
	color: @ligth;
}